@charset "utf-8";

.page_raiseDetail .userMsg {position: absolute; top: 0.1rem; right: 0.3rem; width:4rem; height:4rem; line-height: 4rem; color: #333; background:url('../images/homepage_user_icon@3x.png') no-repeat center center / 2.2rem 2.2rem;}
.page_raiseDetail .r_detail {padding-top:1rem;}
/* 顶部认筹条盒子 */
.page_raiseDetail .c_list {display: block;margin: 0 1.5rem 0;}
.page_raiseDetail .c_list p {color: #333;padding: 0;margin: 0;}
.page_raiseDetail .c_list p span{width: 50%; display: inline-block; font-size: 1.4rem; color: #b39851;}
.page_raiseDetail .c_list p:first-child span{font-size: 1.2rem;}
.page_raiseDetail .c_list p span:last-child{text-align: right;color: #333;}
.page_raiseDetail .c_list .shell{
    width: 100%;height: 2.88rem;position:relative;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ 
    display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ 
    display: -ms-flexbox; /* TWEENER - IE 10 */ 
    display: -webkit-flex; /* NEW - Chrome */ 
    display: flex;
    align-items:center;
    -webkit-align-items:center;
    box-align:center;
    -moz-box-align:center;
    -webkit-box-align:center;
}
.page_raiseDetail .c_list .shell .stone{
    width: 2.88rem;height: 2.88rem;position: absolute;top: 0;bottom: 0;margin: auto;left: -3%;background: url("../images/ellipse@2x.png") no-repeat 0 0 / 2.88rem 2.88rem;
}
.page_raiseDetail .c_list .c_line{height: 0.5rem;width: 100%;position:relative;display: block;background: rgba(179, 152, 81, 0.3); border-radius: 0.25rem;left: 0;}
.page_raiseDetail .c_list .c_line span{position: absolute;left: 0;width: 0%;height: 100%;background: #b39851;border-radius: 0.25rem;}
.page_raiseDetail .c_list .sublist{width: 100%;font-size: 1.2rem;color: #b39851;display: block;padding-bottom: 1.5rem;}
.page_raiseDetail .c_list .sublist span{display: inline-block;width: 10.4rem;text-align: center;}
.page_raiseDetail .c_list .sublist span:last-child{text-align: right;float: right;}
.page_raiseDetail .c_list .sublist span:first-child{text-align: left;}

/*详情*/
.page_raiseDetail .subdec{padding-top: 1.5rem;}
.page_raiseDetail .subdec-top{margin: 0 1.5rem;}
.page_raiseDetail .subdec .head-pic{position: relative;}
.page_raiseDetail .subdec .head-pic .headimg{width: 4.3rem;height: 4.3rem;border-radius: 50%;position: absolute;left: 0;top: 0;}
.page_raiseDetail .subdec .time{height:4.3rem;line-height:4.3rem;margin-left:5.45rem;font-size: 1.2rem;color: #888;display: flex;}
.page_raiseDetail .subdec .time .nickname{font-size: 1.4rem;color: #b39851;flex: 1;}
.page_raiseDetail .subdec .time .c_time{flex: 1;text-align: right;}
.page_raiseDetail .subdec h1{font-size: 1.75rem;color: #333;font-weight: bold;margin: 2rem 0;}
.page_raiseDetail .subdec .c_video{width:100%;display:block;margin:1.92rem 0;overflow:hidden;}
.page_raiseDetail .subdec .c_video video {width:33rem;object-fit:cover;}
.page_raiseDetail .subdec .c_video img {max-width: 33rem;display: block;margin: auto}
.page_raiseDetail .dec{font-size: 1.4rem; color: #333; line-height: 2rem;text-align: justify;width: 33rem;}
.page_raiseDetail td.dec *{max-width: 33rem;}
.page_raiseDetail.crowdMenu{background: #fff;}
.page_raiseDetail.crowdMenu .crowdday{color: #b39851;float: left;font-size: 1.5rem;height: 4.7rem;line-height: 5.4rem;width: 16rem; position: relative;border-top: 0.1rem solid #eee;}
.page_raiseDetail.crowdMenu .crowdday button{border: none;background: url("../images/collect@2x.png") no-repeat left center / 2rem auto;width: 2rem;height: 2rem;display: inline-block;vertical-align: middle;margin-top: -1.2rem;}
.page_raiseDetail.crowdMenu .crowdday button.Collected{background: url("../images/solled.png") no-repeat left center / 2rem auto;}
.page_raiseDetail.crowdMenu .crowdday img{width: 2rem !important;cursor: pointer;}
.page_raiseDetail.crowdMenu .crowdday img.info{margin: 0 2.6rem;}
.page_raiseDetail.crowdMenu .crowdday img.qa{margin-left: 2.1rem;}
.page_raiseDetail.crowdMenu .fr{background: #b39851;color: #fff;display: flex; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; flex-flow: row;height: 4.7rem;text-align: center;width: 20rem; float: right;}
.page_raiseDetail.crowdMenu .fr .subleft{display: none;font-size: 1.2rem;margin:0.6rem 0 0;}
.page_raiseDetail.crowdMenu .fr .subleft,.page_raiseDetail.crowdMenu .fr .substop,.page_raiseDetail.crowdMenu .fr .ready{flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;}
.page_raiseDetail.crowdMenu .fr .substop{font-size: 1.44rem;margin: 1.25rem 0; height: 2.2rem;line-height: 2.2rem;}
.page_raiseDetail.crowdMenu .fr .ready{font-size: 1.44rem;margin: 1.25rem 0; height: 2.2rem;line-height: 2.2rem;}
.page_raiseDetail.crowdMenu .fr .subleft span {display: block;}
.page_raiseDetail.crowdMenu .fr .subleft span font,font[name="sum"]{font-weight: bold;}
.page_raiseDetail.crowdMenu .submitBtn {color: #fff;flex: 1; -webkit-box-flex: 1; -moz-box-flex: 1; -webkit-flex: 1; -ms-flex: 1;font-size: 1.44rem;font-weight: normal; height: 2.2rem; line-height: 2.2rem;margin: 1.25rem 0;text-align: center;border-left: 0.1rem solid #fff;}

.page_raiseDetail .status_check {width:36rem; height:4.22rem; line-height:4.22rem; border-bottom:0.1rem solid #eee; background:#fff; display: flex;flex-flow: row nowrap;}
.page_raiseDetail .status_check a{text-align:center; font-size:1.25rem; color:#888;width: 7.2rem;}
.page_raiseDetail .status_check a.add_hei{color:#b39851;}
.page_raiseDetail .statu.add_hei > span{line-height:4.1rem; border-bottom: 0.2rem solid #b39851 !important;display: inline-block;}
.page_raiseDetail .status_check.menu_lay {position:fixed; left:0; right:0; top:4.5rem; background: #fff;}

.page_raiseDetail .timebox{width:36rem;height: 5.18rem;display: none;position: fixed;bottom: 4.7rem;left: 0;background: rgba(0,0,0,0.75);font-size: 0.96rem;color: #fff;text-align: center;}
.page_raiseDetail .timebox .boxleft{float: left;margin-left: 1.5rem;width: 23.5rem;}
.page_raiseDetail .timebox p{margin: 0;padding: 0.52rem 0 0.48rem;}
.page_raiseDetail .timebox .downtime{color: #ccc;height: 1.92rem; line-height: 1.92rem;display: flex;justify-content: center;}
.page_raiseDetail .timebox .downtime font{font-size: 1.72rem;width: 1.72rem;height: 1.92rem;line-height: 1.92rem;background: #000;border-radius: 0.2rem;margin-right: 0.48rem;color: #fff;}
.page_raiseDetail .timebox .downtime font:nth-child(3),.page_raiseDetail .timebox .downtime font:nth-child(5),.page_raiseDetail .timebox .downtime font:nth-child(7){margin-left: 0.48rem;}
.page_raiseDetail .timebox .remider{width: 7.68rem;height: 2.88rem;line-height: 2.88rem;background: #ff3f3f;color: #fff;font-size: 1.15rem;margin: 1.15rem 0;border-radius: 0.2rem;position: relative;float: right;margin-right: 1.5rem;}
.page_raiseDetail .timebox .remider i{background: url("../images/clock@2x.png") no-repeat left center / 1.15rem 1rem;content: '';width: 1.15rem;height: 1rem;display: inline-block;padding-right: 0.28rem;}

.raiseDetail_invitebox {width: 100%;height:100%;position: absolute;display: none; z-index: 9999; left:0; right:0; top:0; bottom: 0; background: rgba(0,0,0,0.43);}
.raiseDetail_invitebox .vipbeform{width: 28.8rem;height: 24rem;text-align:center;background: url("../images/frame0.jpg") no-repeat 0 0 / 100% 100%;position: absolute;left: 50%;top: 50%;transform: translateX(-50%) translateY(-50%);-webkit-transform: translateX(-50%) translateY(-50%);}
.raiseDetail_invitebox .vipbeform .headpic {border: 0.1rem solid rgba(255, 255, 255, 0.3);border-radius: 50%;height: 6rem;width: 6rem;margin-top: 3.84rem;}
.raiseDetail_invitebox .vipbeform p{color: #9c855c;margin: 0 3rem;padding: 0;text-align: center}
.raiseDetail_invitebox .vipbeform .nickname{font-size: 1.728rem;padding: 0.96rem 0;line-height: 1.8rem;}
.raiseDetail_invitebox .vipbeform .intro{font-size: 1.44rem;color: #fff;padding: 0.96rem 0;line-height: 1.5rem;}
.raiseDetail_invitebox .vipbeform .title {display: block; margin:1rem auto 0 auto; height:4rem; line-height:4rem; color: #ddd;}

.fixed_top.page_raiseDetail .statusbox{display: none;}
.fixed_top.page_raiseDetail{height: 4.6rem;position: absolute;left: 0;top: 4.5rem;}
.fixed_bottom.page_raiseDetail{height: 5.18rem;position: absolute;left: 0;bottom: 4.7rem;}