body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:800px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:201px;
  top:402px;
  width:320px;
  height:216px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:216px;
}
#u1 {
  position:absolute;
  left:2px;
  top:100px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:201px;
  top:135px;
  width:320px;
  height:120px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:120px;
}
#u3 {
  position:absolute;
  left:2px;
  top:52px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:211px;
  top:145px;
  width:300px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:16px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:201px;
  top:130px;
  width:320px;
  height:10px;
}
#u6_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u6_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u7 {
  position:absolute;
  left:201px;
  top:250px;
  width:320px;
  height:10px;
}
#u7_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u7_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u8 {
  position:absolute;
  left:491px;
  top:234px;
  width:20px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:11px;
  color:#CCCCCC;
  text-align:right;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  height:16px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:20px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:201px;
  top:50px;
  width:320px;
  height:20px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u11 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:207px;
  top:57px;
  width:5px;
  height:5px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u13 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:214px;
  top:57px;
  width:5px;
  height:5px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:221px;
  top:57px;
  width:5px;
  height:5px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:228px;
  top:57px;
  width:5px;
  height:5px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:235px;
  top:57px;
  width:5px;
  height:5px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u21 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:337px;
  top:53px;
  width:50px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#999999;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u24 {
  position:absolute;
  left:493px;
  top:55px;
  width:18px;
  height:10px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u25 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:511px;
  top:58px;
  width:2px;
  height:3px;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u27 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u28 {
  position:absolute;
  left:493px;
  top:55px;
  width:15px;
  height:10px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u29 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:201px;
  top:69px;
  width:320px;
  height:44px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:44px;
}
#u31 {
  position:absolute;
  left:2px;
  top:14px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:521px;
  top:50px;
  width:1px;
  height:568px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:568px;
}
#u33 {
  position:absolute;
  left:2px;
  top:276px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:208px;
  top:82px;
  width:18px;
  height:18px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:18px;
}
#u35 {
  position:absolute;
  left:2px;
  top:1px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:331px;
  top:82px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#999999;
  text-align:center;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:201px;
  top:108px;
  width:320px;
  height:10px;
}
#u38_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_end {
  position:absolute;
  left:303px;
  top:-5px;
  width:18px;
  height:20px;
}
#u38_line {
  position:absolute;
  left:0px;
  top:5px;
  width:320px;
  height:1px;
}
#u39 {
  position:absolute;
  left:200px;
  top:50px;
  width:1px;
  height:568px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:568px;
}
#u40 {
  position:absolute;
  left:2px;
  top:276px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:486px;
  top:85px;
  width:25px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#999999;
  text-align:right;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
}
#u42 {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u43 {
  position:absolute;
  left:550px;
  top:90px;
  width:250px;
  height:46px;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:46px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  word-wrap:break-word;
}
