body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:780px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:103px;
  top:29px;
  width:677px;
  height:1391px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:677px;
  height:1391px;
}
#u1 {
  position:absolute;
  left:2px;
  top:688px;
  width:673px;
  visibility:hidden;
  word-wrap:break-word;
}
