<!--加载日历组件-->
<script type="text/javascript" src="__AMUI__/js/amazeui.datetimepicker.min.js"> </script>
<link href="__AMUI__/css/amazeui.datetimepicker.css" rel="stylesheet">
<!--加载日历组件-->

<button type="button" id="add_goods" class="am-btn am-btn-primary" onclick="add()">添加商品</button>
<button type="button" id="goods_export" class="am-btn am-btn-primary" onclick="goodsExport()">导出Excel</button>
<br/>

<form class="am-g">
    <input type="text" name="title" id="search_title" class="am-form-field am-radius" style="width: 20%;float: left;" placeholder="关键字模糊查询" value="{$search_title}"/>
    <input type="text" name="member" id="search_member" class="am-form-field am-radius" style="width: 20%;float: left;" placeholder="发布者查询" value="{$search_member}"/>
    <select name="status" id="search_status" class="am-form-field" style="width: 10%;float: left;">
        <option value="1"<?php if(I('get.status') == 1)echo ' selected="selected"';?>>上架中</option>
        <option value="2"<?php if(I('get.status') == 2)echo ' selected="selected"';?>>下架中</option>
        <option value="3"<?php if(I('get.status') == 3)echo ' selected="selected"';?>>未审核</option>
        <option value="4"<?php if(I('get.status') == 4)echo ' selected="selected"';?>>草稿</option>
    </select>
    <button type="submit" class="am-btn am-btn-success">查找</button>
</form>
{:W('Cate/table', array($datas, $lang, $operations, $pages, $batch))}

<!-- 预览 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="preview">
    <div class="am-modal-dialog">
        <form name="detail" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">预览</div>
            <p></p>
            <iframe height="640px" width="360px"></iframe>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!--设置抢购-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="detailInfo">
    <div class="am-modal-dialog">
        <form name="detail" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">限时折扣信息</div>
            <div class=""style="height: 400px;">
                <div class="am-g am-margin-top-sm" >
                    <input type="text" name="title" id="title" placeholder="限时折扣标题" required="true"/>
                </div>
                <div class="am-g am-margin-top-sm" >
                    <input type="text" name="price" id="price" placeholder="折扣价" required="true"/>
                    <input type="hidden" name="o_price" id="o_price" value="">
                </div>
                <div class="am-g am-margin-top-sm">
                    <input style="width: 35%;float: left;" type="text" class="am-form-field" data-date-format="yyyy-mm-dd hh:ii" id="start_time" name="start_time"  placeholder="开始时间" required readonly="true" required="true"/>
                    <input style="width: 35%;float: left;" type="text" class="am-form-field" data-date-format="yyyy-mm-dd hh:ii" id="end_time" name="end_time"  placeholder="结束时间" required readonly="true" required="true"/>
                </div>
                <div class="am-g am-margin-top-sm" >
                    <input type="text" name="limit" id="limit" placeholder="限购总量，必填" required="true"/>
                </div>
                <div class="am-g am-margin-top-sm" >
                    <div class="am-form-group">
                        <label for="allow_coupon">允许使用优惠券</label>
                        <select id="allow_coupon">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                        <span class="am-form-caret"></span>
                    </div>
                </div>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<!--专题-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="joinTheme">
    <div class="am-modal-dialog">
        <form name="changeGroup" class="am-form am-modal-bd" data-am-validator>
            <div class="am-g am-margin-top" id="groupSelect">
                <div class="am-u-sm-4 am-u-md-4 am-text-right">
                    选择专题：
                </div>
                <div class="am-u-sm-8 am-u-md-8 am-text-left">
                    <select name="theme_id" data-am-selected="{btnSize: 'xs'}">
                        <foreach name="themes" item="row">
                            <option value="{$row.id}">{$row.title}</option>
                        </foreach>
                    </select>
                </div>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<!-- 编辑拼团 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="pieceBox">
    <div class="am-modal-dialog">
        <form name="piece" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">编辑拼团</div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">拼团折扣价</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="price" placeholder="拼团折扣价"/>
                </div>
            </div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">成团人数</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="count" placeholder="成团人数" value="3"/>
                </div>
            </div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">拼团限时（小时）</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="limit_time" placeholder="拼团限时（小时）" value="6"/>
                </div>
            </div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">每人限购</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="limit_num" placeholder="每人限购" value="3"/>
                </div>
            </div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">促销库存</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="stocks" placeholder="促销库存" value="100"/>
                </div>
            </div>
            <div class="am-g am-margin-top-sm" >
                <div class="am-u-sm-3 am-u-md-3">团长奖励</div>
                <div class="am-u-sm-9 am-u-md-9">
                    <input type="text" name="reward" placeholder="团长奖励(奖励优惠券,填写优惠券ID)"/>
                </div>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<!--历史促销-->
<div class="am-modal am-modal-prompt" tabindex="-1" id="marketingHistory">
    <div class="am-modal-dialog">
        <form name="detail" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">促销历史记录</div>
            <div class="am-scrollable-vertical" style="height: 400px;">
                <table class="am-table am-table-striped am-table-hover" id="marketingH">

                </table>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!-- 标签修改 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="goods_tags">
    <div class="am-modal-dialog">
        <form name="detail" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">商品标签</div>
            <div class="am-scrollable-vertical am-text-left"style="height: 400px;">
                <input type="hidden" name="goods_id" id="goods_id" value="">
                <div class="am-form-group">
                    <label for="official_tag">官方标签</label>
                    <div id="official_tag">

                    </div>
                </div>
                <div class="am-form-group">
                    <label for="normal_tag">普通标签</label>
                    <div id="normal_tag">
                    </div>
                </div>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>确定</span>
        </div>
    </div>
</div>

<!-- 查看操作日志 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="showlogs">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">
            <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">日志</strong> / <small>活动修改日志</small></div>
            <div class="am-fr am-cf">
                <input id="starttime" type="text" class="am-input-sm am-text-center" placeholder="开始时间" />
                <input id="endtime" type="text" class="am-input-sm am-text-center" placeholder="结束时间" />
            </div>
            <div style="clear:both"></div>
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div class="am-modal-bd">
            <div class="am-g error-log">
                <div class="am-u-sm-12 am-u-sm-centered">
                    <pre class="am-pre-scrollable am-text-left"></pre>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.am-modal').appendTo('body');
    function add(){
        //跳转添加商品页面
        window.location = '__CONTROLLER__/add.html';
    }

    function dataDelete(id){
        if(window.confirm('确定要删除这条记录吗？')){
            $.ajax({
                url : '__CONTROLLER__/delete.html',
                data : {'id' : id},
                type : 'post',
                success : function(d){
                    if(d.status == 1){
                        alert(d.info);
                        window.location.reload();
                    }else{
                        alert(d.info);
                    }
                }
            });
        }
    }

    function goods_tags(id){
        $('#goods_id').val(id);
        $('#official_tag').empty();
        $('#normal_tag').empty();
        $.ajax({
            url : '__CONTROLLER__/getGoodsTags.html',
            data : {'id' : id },
            dataType : 'json',
            type : 'POST',
            success: function(d){
                var code_official = '';
                var code = '';
                for(i in d.official_goods_tags){
                    var check = false;
                    for(k in d.my_official){
                        if(d.my_official[k]==d.official_goods_tags[i].id)check = true;
                    }
                    if(check){
                        code_official += '<input type="checkbox" name="official_label[]" checked value="'+d.official_goods_tags[i].id+'"><span>'+d.official_goods_tags[i].name+'</span> &nbsp;';
                    }else{
                        code_official += '<input type="checkbox" name="official_label[]" value="'+d.official_goods_tags[i].id+'"><span>'+d.official_goods_tags[i].name+'</span> &nbsp;';
                    }
                }
                for(j in d.goods_tags){
                    var check = false;
                    for(l in d.my_label){
                        if(d.my_label[l]==d.goods_tags[j].id)check = true;
                    }
                    if(check){
                        code += '<input type="checkbox" name="label[]" checked value="'+d.goods_tags[j].id+'"><span>'+d.goods_tags[j].name+'</span> &nbsp;';
                    }else{
                        code += '<input type="checkbox" name="label[]" value="'+d.goods_tags[j].id+'"><span>'+d.goods_tags[j].name+'</span> &nbsp;';
                    }
                }
                $(code_official).appendTo('#official_tag');
                $(code).appendTo('#normal_tag');
            }
        });
        $('#goods_tags').modal({
            relatedTarget: this,
            onConfirm: function() {
                var goods_id = $('#goods_id').val();
                var official_tag_ids = [];
                $('#official_tag input:checked').each(function(){
                    if(/^\d+$/.test(this.value))official_tag_ids.push(this.value);
                });
                var tag_ids = [];
                $('#normal_tag input:checked').each(function(){
                    if(/^\d+$/.test(this.value))tag_ids.push(this.value);
                });

                $.ajax({
                    url : '__CONTROLLER__/getGoodsTags.html',
                    data : {'goods_id' : goods_id,'official_tag_ids' : official_tag_ids , 'tag_ids' : tag_ids },
                    dataType : 'json',
                    type : 'POST',
                    success: function(d){
                        if(d.status == 1){
                            alert(d.info);
                        }else{
                            alert(d.info);
                        }
                        window.location.reload();
                    }
                });

            }
        });
    }


    //上架
    function online(id,status){
        $.ajax({
            url : '__CONTROLLER__/online.html',
            data : {'id' : id},
            dataType : 'json',
            type : 'POST',
            success: function(d){
                if(d.status == 1){
                    alert(d.info);
                }else{
                    alert(d.info);
                }
                window.location.reload();
            }
        });
    }
    //下架
    function offline(id,status){
        $.ajax({
            url : '__CONTROLLER__/offline.html',
            data : {'id' : id},
            dataType : 'json',
            type : 'POST',
            success: function(d){
                if(d.status == 1){
                    alert(d.info);
                }else{
                    alert(d.info);
                }
                window.location.reload();
            }
        });
    }
    //修改商品
    function modify(id){
        window.location = '__CONTROLLER__/modify.html?goods_id='+id;
    }
    //取消抢购
    function removeMarketing(id){
        if(window.confirm('是否确认取消抢购')){
            $.ajax({
                url : '__CONTROLLER__/Marketing.html',
                data : {'id' : id , 'status' : 0},
                dataType : 'json',
                type : 'POST',
                success: function(d){
                    if(d.status == 1){
                        alert(d.info);
                    }else{
                        alert(d.info);
                    }
                    window.location.reload();
                }
            });
        }
    }

    //促销价格限制
    $('#price').change(function(){
        if(parseFloat($('#o_price').val())<parseFloat($('#price').val())){
            alert('折扣价不能高于原价');
            $('#price').val('');
        }
    })
    //设置促销
    function addMarketing(id,status){
        $('#price').val('');
        $('#start_time').val('');
        $('#end_time').val('');
        $('#title').val('');
        //$('#allow_coupon').empty();

        if(status != 1){
            alert('请先上架商品！！');
            return;
        }

        //获取原价
        $.ajax({
            url : '__CONTROLLER__/Marketing.html',
            data : {'id' : id,'status' : 2},
            dataType : 'json',
            type : 'POST',
            success: function(d){
                //alert(d);
                $('#o_price').val(d);
                $('#price').attr('placeholder','折扣价,(原价：'+d+')');
            }
        });
        $('#detailInfo').modal({
            relatedTarget: this,
            onConfirm: function() {
                var price = $('#price').val();
                var start_time = $('#start_time').val();
                var end_time = $('#end_time').val();
                var title = $('#title').val();
                var allow_coupon = $('#allow_coupon').val();
                var limit = $('#limit').val();

                if(price == ''){
                    alert('价格不能为空');
                    return false;
                }
                if(start_time == ''){
                    alert('未设置开始时间');
                    return false;
                }
                if(end_time == ''){
                    alert('未设置结束时间');
                    return false;
                }
                if(title == ''){
                    alert('未设置标题');
                    return false;
                }
                if(limit == ''){
                    alert('未设置限购');
                    return false;
                }
                $.ajax({
                    url : '__CONTROLLER__/Marketing.html',
                    data : {'id' : id,'status' : 1,'price' : price,'title' : title,'start_time' : start_time,'end_time' : end_time ,'allow_coupon' : allow_coupon ,'limit' :limit},
                    dataType : 'json',
                    type : 'POST',
                    success: function(d){
                        if(d.status == 1){
                            alert(d.info);
                        }else{
                            alert(d.info);
                        }
                        window.location.reload();
                    }
                });
            }
        });
    }

    //历史促销查询
    function marketingHistory(id){
        $('#marketingH').empty();
        $.ajax({
            url : '__CONTROLLER__/Marketing.html',
            data : {'id' : id,'status' : 3},
            dataType : 'json',
            type : 'POST',
            success: function(d){
                var code = '<tr>';
                code += '<td>标题</td><td>促销价格</td><td>开始时间</td><td>结束时间</td><td>限购</td><td>允许优惠券</td>';
                code += '</tr>';
                for(i in d){
                    code += '<tr>';
                    code += '<td>'+d[i]['title']+'</td><td>'+d[i]['price']+'</td><td>'+d[i]['start_time']+'</td><td>'+d[i]['end_time']+'</td><td>'+d[i]['limit']+'</td><td>'+d[i]['allow_coupon']+'</td>';
                    code += '</tr>';
                }
                $(code).appendTo('#marketingH');
            }
        });
        $('#marketingHistory').modal({
            relatedTarget: this,
            onConfirm: function() {
            }
        });
    }

    //日历
    $('#start_time').datetimepicker();
    $('#end_time').datetimepicker();

    var clicktime = 0;          //clicktime判断是否第一次次点击开始时间按钮，如果是则不与结束日期判断
    $(function() {
        var startDate = new Date();
        var endDate = new Date();
        //var $alert = $('#my-alert');
        $('#start_time').datetimepicker().
        on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() > endDate.valueOf() && clicktime != 0) {
                alert('开始日期应小于结束日期！');
                $('#start_time').val("");
            } else {
                startDate = new Date(event.date);
                clicktime = 1;
            }
            if(startDate < new Date()){
                alert('开始时间应大于当前时间');
                $('#start_time').val("");
                clicktime = 0;
            }
            $(this).datetimepicker('close');
        });

        $('#end_time').datetimepicker().
        on('changeDate.datepicker.amui', function(event) {
            if (event.date.valueOf() < startDate.valueOf()) {
                alert('结束日期应大于开始日期！');
                $('#end_time').val("");
            } else {
                endDate = new Date(event.date);
            }
            $(this).datetimepicker('close');
        });
    });

    //加入运营专题
    function joinTheme()
    {
        $('#joinTheme').selected({btnSize: 'xs'});
        $('#joinTheme').modal({
            relatedTarget: this,
            onConfirm: function() {
                var theme_id = document.changeGroup.theme_id.value;
                var goods_ids = [];
                $('input:checked').each(function(){
                    if(/^\d+$/.test(this.value))goods_ids.push(this.value);
                });
                // alert(goods_ids);return;
                $.post('__CONTROLLER__/joinTheme.html', {'id':theme_id, 'goods_ids':goods_ids}, function(d){
                    if(d.status == 1){
                        alert(d.info);
                        window.location.href = window.location.href;
                    }else{
                        alert(d.info);
                    }
                }, 'json');
            }
        });
    }

    function outTheme(){
        //var theme_id = document.changeGroup.theme_id.value;
        var goods_ids = [];
        $('input:checked').each(function(){
            if(/^\d+$/.test(this.value))goods_ids.push(this.value);
        });
        //alert(goods_ids);
        $.post('__CONTROLLER__/outTheme.html', {'goods_ids':goods_ids}, function(d){
            if(d.status == 1){
                alert(d.info);
                window.location.href = window.location.href;
            }else{
                alert(d.info);
            }
        }, 'json');
    }

    //审核商品
    function pass(id,oper){
        $.ajax({
            url : '__CONTROLLER__/verify.html',
            data : {'id' : id,'oper' : oper},
            dataType : 'json',
            type : 'POST',
            success: function(d){
                if(d.status == 1){
                    alert(d.info);
                }else{
                    alert(d.info);
                }
                window.location.reload();
            }
        });
    }

    //提交审核
    function goods_submit(goods_id){
        $.post('__CONTROLLER__/modify.html', {goods_id:goods_id, submit:1}, function(d){
            if(d.status == 1){
                alert(d.info);
                window.location.reload();
            }else{
                alert(d.info);
            }
        }, 'json');
    }

    //预览
    function preview(id){
        var url = 'http://<?=WEB_DOMAIN?>/?page=goodsDetail&goods_id='+id;
        $('iframe').attr('src',url);
        $('#preview p').html('网址:http://<?=WEB_DOMAIN?>/?page=choice-goodsDetail&goods_id=' + id);
        $('#preview').modal({
            relatedTarget: this
        });
    }

    //导出excel
    function goodsExport(){
        var search_title = $('#search_title').val();
        var search_member = $('#search_member').val();

        window.open("__CONTROLLER__/GoodsExport.html?title="+search_title+"&member="+search_member,"_blank","width=1000,height=600 ")
    }

    function showLogs(id){
        var dt = {};
        dt.id = id;
        $.ajax({
            url : '__CONTROLLER__/showlogs.html',
            data : dt,
            dataType : 'json',
            type : 'POST',
            success: function(d){
                if(d.status == 1){
                    var code = '';
                    for(i in d.info){
                        if(i >= d.info.length - 1)
                            code += '<span class="am-text-success">['+ d.info[i].datetime +']</span> '+ d.info[i].username +' 创建活动!<br />';
                        else
                            code += '<span class="am-text-success">['+ d.info[i].datetime +']</span> '+ d.info[i].username +' 修改过活动!<br />';
                    }
                    $('#showlogs pre').html(code);
                    $('#showlogs').modal('open');
                }else{
                    alert(d.info);
                }
            }
        });
    }

    //添加拼团
    function addPiece(id){
        document.piece.price.value = '';
        document.piece.count.value = 3;
        document.piece.limit_time.value = 6;
        document.piece.limit_num.value = 3;
        document.piece.stocks.value = 100;
        document.piece.reward.value = '';

        $('#pieceBox').modal({
            relatedTarget: this,
            onConfirm: function() {
                var data = {};
                data.goods_id = id;
                data.price = document.piece.price.value;
                data.count = document.piece.count.value;
                data.limit_time = document.piece.limit_time.value;
                data.limit_num = document.piece.limit_num.value;
                data.stocks = document.piece.stocks.value;
                data.reward = document.piece.reward.value;

                $.ajax({
                    url : '__CONTROLLER__/editPiece.html',
                    data : data,
                    dataType : 'json',
                    type : 'POST',
                    success: function(d){
                        if(d.status == 1){
                            alert(d.info);
                        }else{
                            alert(d.info);
                        }
                        window.location.reload();
                    }
                });

            }
        });
    }

    //修改拼团
    function modifyPiece(id){
        $.post('__CONTROLLER__/editPiece.html', {id:id}, function(d){
            document.piece.price.value = d.price;
            document.piece.count.value = d.count;
            document.piece.limit_time.value = d.limit_time;
            document.piece.limit_num.value = d.limit_num;
            document.piece.stocks.value = d.stocks;
            document.piece.reward.value = d.reward;

            $('#pieceBox').modal({
                relatedTarget: this,
                onConfirm: function() {
                    var data = {};
                    data.goods_id = id;
                    data.price = document.piece.price.value;
                    data.count = document.piece.count.value;
                    data.limit_time = document.piece.limit_time.value;
                    data.limit_num = document.piece.limit_num.value;
                    data.stocks = document.piece.stocks.value;
                    data.reward = document.piece.reward.value;

                    $.ajax({
                        url : '__CONTROLLER__/editPiece.html',
                        data : data,
                        dataType : 'json',
                        type : 'POST',
                        success: function(d){
                            if(d.status == 1){
                                alert(d.info);
                            }else{
                                alert(d.info);
                            }
                            window.location.reload();
                        }
                    });

                }
            });
        }, 'json');
    }

</script>