body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:60px;
  width:848px;
  height:137px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:137px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:23px;
  width:113px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
