body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:522px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:200px;
  top:30px;
  width:320px;
  height:20px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:20px;
}
#u1 {
  position:absolute;
  left:2px;
  top:2px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:206px;
  top:37px;
  width:5px;
  height:5px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u3 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:213px;
  top:37px;
  width:5px;
  height:5px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u5 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:220px;
  top:37px;
  width:5px;
  height:5px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u7 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:227px;
  top:37px;
  width:5px;
  height:5px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u9 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:234px;
  top:37px;
  width:5px;
  height:5px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:5px;
  height:5px;
}
#u11 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:336px;
  top:33px;
  width:50px;
  height:14px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:12px;
  color:#999999;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:14px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:492px;
  top:35px;
  width:18px;
  height:10px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:18px;
  height:10px;
}
#u15 {
  position:absolute;
  left:2px;
  top:-3px;
  width:14px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:510px;
  top:38px;
  width:2px;
  height:3px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:3px;
}
#u17 {
  position:absolute;
  left:2px;
  top:-6px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:492px;
  top:35px;
  width:15px;
  height:10px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u19 {
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:200px;
  top:49px;
  width:320px;
  height:551px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:320px;
  height:551px;
}
#u21 {
  position:absolute;
  left:2px;
  top:268px;
  width:316px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:520px;
  top:30px;
  width:1px;
  height:568px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:568px;
}
#u23 {
  position:absolute;
  left:2px;
  top:276px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:200px;
  top:30px;
  width:1px;
  height:568px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:568px;
}
#u25 {
  position:absolute;
  left:2px;
  top:276px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:200px;
  top:592px;
  width:322px;
  height:10px;
}
#u26_start {
  position:absolute;
  left:0px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_end {
  position:absolute;
  left:305px;
  top:-5px;
  width:18px;
  height:20px;
}
#u26_line {
  position:absolute;
  left:0px;
  top:5px;
  width:322px;
  height:1px;
}
#u27 {
  position:absolute;
  left:210px;
  top:57px;
  width:25px;
  height:25px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:25px;
}
#u28 {
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:298px;
  top:145px;
  width:126px;
  height:36px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:36px;
}
#u30 {
  position:absolute;
  left:2px;
  top:10px;
  width:122px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:226px;
  top:370px;
  width:270px;
  height:40px;
  color:#FFFFFF;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u32 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:346px;
  top:380px;
  width:59px;
  height:19px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:14px;
  color:#FFFFFF;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:19px;
}
#u34 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
#u35 {
  position:absolute;
  left:318px;
  top:379px;
  width:21px;
  height:21px;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u36 {
  position:absolute;
  left:2px;
  top:2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u37 {
  position:absolute;
  left:226px;
  top:270px;
  width:270px;
  height:40px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:270px;
  height:40px;
}
#u38 {
  position:absolute;
  left:2px;
  top:12px;
  width:266px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:240px;
  top:282px;
  width:50px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:226px;
  top:320px;
  width:164px;
  height:40px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:40px;
}
#u42 {
  position:absolute;
  left:2px;
  top:12px;
  width:160px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:240px;
  top:332px;
  width:50px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u43_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u44 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u45 {
  position:absolute;
  left:400px;
  top:320px;
  width:96px;
  height:40px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:96px;
  height:40px;
}
#u46 {
  position:absolute;
  left:2px;
  top:12px;
  width:92px;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:226px;
  top:420px;
  width:50px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u48 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
#u49 {
  position:absolute;
  left:446px;
  top:420px;
  width:50px;
  height:16px;
  font-family:'微软雅黑 Regular', '微软雅黑';
  font-size:12px;
  color:#CCCCCC;
}
#u49_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
}
#u50 {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  word-wrap:break-word;
}
