body {
  margin:0px;
  background-color:rgba(249, 249, 249, 1);
  background-image:none;
  position:static;
  left:auto;
  width:900px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:52px;
  top:60px;
  width:848px;
  height:46px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:46px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:23px;
  width:122px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:19px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  white-space:nowrap;
}
#u4 {
  position:absolute;
  left:120px;
  top:96px;
  width:50px;
  height:50px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:50px;
}
#u5 {
  position:absolute;
  left:2px;
  top:17px;
  width:46px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:52px;
  top:197px;
  width:848px;
  height:46px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:46px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:40px;
  top:160px;
  width:191px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  height:19px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:191px;
  white-space:nowrap;
}
#u10 {
  position:absolute;
  left:52px;
  top:304px;
  width:848px;
  height:46px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:46px;
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:40px;
  top:267px;
  width:90px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:19px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  white-space:nowrap;
}
#u14 {
  position:absolute;
  left:52px;
  top:414px;
  width:848px;
  height:46px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:46px;
}
#u15 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:40px;
  top:377px;
  width:74px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  height:19px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:74px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:52px;
  top:524px;
  width:848px;
  height:167px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  height:167px;
}
#u19 {
  position:absolute;
  left:0px;
  top:0px;
  width:848px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:40px;
  top:487px;
  width:431px;
  height:19px;
  font-family:'Arial Negreta', 'Arial';
  font-weight:700;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:431px;
  white-space:nowrap;
}
