@charset "utf-8";

.header .orderOperation{font-size:1.3rem;position:absolute;right:1rem;top:1.6rem;}
/***************************************************/
.content .item{font-size:1.5rem;color:#585858;height:4rem;line-height:4rem;margin-left:1.8rem;}
.content .stars{height:4rem;line-height:4rem;background:#fff;}
.content .stars>img{height:1.8rem;margin-top:1.1rem;margin-left:1.2rem;float:left;}
.content .stars>span{font-size:1.4rem;color:#585858;display:inline-block;height:1.8rem;float:right;margin-right:1.2rem;}

.content .detailWords{font-size:1.4rem;color:#969696;padding-top:1.2rem;width:100%;text-indent:1.2rem;border:none;min-height:8rem;background:#fff;}
.content  .addImgs{margin:0 1.8rem;}
.content  .addImgs>img{width:23%;height:auto;background:#fff;float:left;margin:0 1% 0.8rem 1%;}




/***********结束***********/