@charset "utf-8";
/***/
.page_myRaiseOrder{ background:#f5f5f5;}

#header,
#header .header,
#main .wrapper .headerBlank{
    height: 9.1rem;
}
#header .header .title{
    border-bottom: 0.1rem solid #f5f5f5;
}
#header .header .status_check{
    height: 4.5rem;
    line-height: 4.5rem;
    background-color: #fff;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    font-size: 0;
}

/*.page_myRaiseOrder .header{width:100%; border-bottom:#ccc solid 0.1rem;}*/
/******************************************/

/*.page_myRaiseOrder .status_check {width:36rem; height:4.32rem; line-height:4.32rem; border-bottom:0.1rem solid #eee; background:#fff; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex;}*/
.page_myRaiseOrder .status_check a{display:inline-block; width:33.3%; text-align:center; font-size:1.25rem; color:#888; border-bottom: 0.2rem solid rgba(255,255,255,0); box-sizing: border-box; transition: all 0.3s ease;}
.page_myRaiseOrder .status_check a:nth-child(2){width:33.4%;}
.page_myRaiseOrder .status_check a.add_hei{color:#b39851; border-bottom: 0.2rem solid #b39851;}
/*.page_myRaiseOrder .status_check a.add_hei span{line-height:4.1rem; border-bottom: 0.2rem solid #b39851;display: inline-block;}*/
.page_myRaiseOrder .content {background:#ddd;}

.page_myRaiseOrder .content {background:#f5f5f5;}
.page_myRaiseOrder .content li:first-child{margin-top: 1.2rem;}
.page_myRaiseOrder .content li { margin-bottom:1.2rem; background:#fff;}

.page_myRaiseOrder .content li .top {display:block; padding: 1.104rem 0;}

.page_myRaiseOrder .content li .top .status-wrap,
.page_myRaiseOrder .content li .top .middle,
.page_myRaiseOrder .content li .top .footer,
.page_myRaiseOrder .content li .bottom {
    padding:0 1.5rem;
}

/*时间和订单状态*/
.page_myRaiseOrder .content li .top .status-wrap{ color:#999; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: space-between; }
.page_myRaiseOrder .content li .top .status-wrap .buy-date{   font-size: 1rem; }
.page_myRaiseOrder .content li .top .status-wrap .status {font-size:1.15rem; color: #B39851;}

/*订单图片和图片右边的内容*/
.page_myRaiseOrder .content li .top .middle{height:7.536rem; margin-top: 2.304rem;}
.page_myRaiseOrder .content li .top .middle .left {float:left; width:11.52rem; overflow:hidden; position:relative;}
.page_myRaiseOrder .content li .top .middle .left .type {width:5.76rem; height:2.352rem; position:absolute; font-size:1.15rem; left:0; top:0.72rem; background:url(../images/class@2x.png) 0 0 / 5.76rem 2.352rem no-repeat; color:#fff; text-align:center; line-height:2.352rem;}
.page_myRaiseOrder .content li .top .middle .left img {width:11.52rem; height:7.536rem;}
.page_myRaiseOrder .content li .top .middle .right {width:20.48rem; height:7.536rem; float:right; line-height:1.6rem;position: relative; display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; flex-direction: column; justify-content: space-between;}

.page_myRaiseOrder .content li .top .middle .right .t,
.page_myRaiseOrder .content li .top .right .b{display: -webkit-box; display: -webkit-flex; display: -ms-flexbox; display: flex; justify-content: space-between; }
.page_myRaiseOrder .content li .top .right .l{margin-right: 0.288rem }
.page_myRaiseOrder .content li .top .right .r{float: right; }

 /*orderTitle 只显示两行，多出隐藏...*/
.page_myRaiseOrder .orderTitle{
max-width: 15rem;
display:-webkit-box;
word-break:break-all;
-webkit-box-orient:vertical;
-webkit-line-clamp:2;
overflow:hidden;
text-overflow:ellipsis;
}/*右 商品标题*/

/*结束时间*/
.page_myRaiseOrder .content li .top .footer{text-align: right; margin-top: 1.824rem; font-size: 1rem; color: #999; }


/*.page_myRaiseOrder .content li .top .right .t {height:3.2rem; font-size:1.4rem; color:#333333; overflow:hidden;}
.page_myRaiseOrder .content li .top .right .c {height:1.6rem; color:#a6a6a6; font-size:1.2rem; margin:1.2rem auto;}
.page_myRaiseOrder .content li .top .right .b {color:#b39851; font-size:1.2rem;bottom: 0;left: 0;display: flex;height: 2rem;line-height: 2rem;}
.page_myRaiseOrder .content li .top .right .b .l {display: inline; line-height:2.3rem;}
.page_myRaiseOrder .content li .top .right .b .cc {display:inline;border-right:0.1rem solid #666666; height:1.2rem; margin:0.5rem 1rem;}
.page_myRaiseOrder .content li .top .right .b .r {display:inline;}
.page_myRaiseOrder .content li .top .right .b .r font{color:#b39851; font-size:1.7rem;}
.page_myRaiseOrder .content li .top .right .b .r font.caodan{font-size:1.2rem;}
.page_myRaiseOrder .content li .top .right .subt{color: #888;margin-top: 0.5rem;}*/
/*支付按钮*/
.page_myRaiseOrder .content li .bottom {height:4.5rem; border-top: 0.1rem solid #eee;}

.page_myRaiseOrder .content li .bottom .btn {float:right; line-height:2.9rem; margin-top:0.7rem; border-radius:0.2rem; padding:0 1rem; text-align:center; border:solid 0.1rem #FF3232; color:#FF3232; margin-left:0.5rem; font-size:1.15rem;}
.page_myRaiseOrder .content li .bottom .btn.blue {background: #9cb945;color:#fff; border: solid 0.1rem #9cb945;}
.page_myRaiseOrder .mask{-webkit-filter: blur(0.25rem); /* Chrome, Opera */-moz-filter: blur(0.25rem); -o-filter: blur(0.25rem);-ms-filter: blur(0.25rem);filter: blur(0.25rem);}

.page_myRaiseOrder .QRcode{min-height:100%;width:100%;position:fixed;top:0;z-index:9990;background:rgba(0,0,0,0.3);display:none;}
.page_myRaiseOrder .QRcode .views{width:28rem; height:34.5rem; margin-left:4rem;text-align:center;background:#fff;position:relative;z-index:9999;}
.page_myRaiseOrder .QRcode .views .a{font-size:1.68rem;color:#000;height:5.4rem;line-height:5.4rem;}
.page_myRaiseOrder .QRcode .views .b{font-size:1.4rem;color:#6c6c6c;height:4.2rem;line-height:4.2rem;margin:0 2rem;border-top:0.1rem solid #e1e1e1;border-bottom:0.2rem dashed #e1e1e1;}
.page_myRaiseOrder .QRcode .views .c{font-size:1.68rem;color:#000;margin:1.2rem 0;}
.page_myRaiseOrder .QRcode .views .d{margin:0 auto;margin-bottom:2rem; height:27rem; overflow:hidden; position:relative;}
.page_myRaiseOrder .QRcode .views .d ul{position:absolute; height:27rem; display:block;}
.page_myRaiseOrder .QRcode .views .d ul li {float:left; width:28rem; text-align:center; list-style:none;}
.page_myRaiseOrder .QRcode .views .d ul li p{font-size:2.2rem; color:#000; width:28rem; text-align:center; padding-top:2.5rem; padding-bottom:1.2rem; margin:0;}
.page_myRaiseOrder .QRcode .views .d span{width:16rem; height:16rem; display:inline-block;}

.page_myRaiseOrder .QRcode .views .L_niu{width:3.5rem; height:3.5rem; background:url(../images/check-code_last_unselect@2x.png) 0 0 / 3.5rem 3.5rem; position:absolute; top:12.4rem; left:1.2rem;}
.page_myRaiseOrder .QRcode .views .L_y{background:url(../images/check-code_last_select-@2x.png) 0 0 / 3.5rem 3.5rem;}
.page_myRaiseOrder .QRcode .views .R_niu{width:3.5rem; height:3.5rem; background:url(../images/check-code_next_unselect@2x.png) 0 0 / 3.5rem 3.5rem; position:absolute; top:12.4rem; right:1.2rem;}
.page_myRaiseOrder .QRcode .views .R_y{background:url(../images/check-code_next_select@2x.png) 0 0 / 3.5rem 3.5rem;}

.page_myRaiseOrder .QRcode .views .num{font-size:1.8rem;color:#FFDC00;margin:1rem auto; margin-bottom:0.4rem; width:28rem; position:absolute; left:0; top:24rem;}
.page_myRaiseOrder .QRcode .views .dBtm{font-size:1.4rem;color:#cccccc;margin:1.6rem auto;}
.page_myRaiseOrder .QRcode .closed{width:10%;position:absolute;margin-top:1.2rem;left:45%;}

.page_myRaiseOrder .content .no_msgs{width:36rem; background:#f5f5f5; position:absolute; top:10.7rem; left:0; right:0; bottom:0rem;}
.page_myRaiseOrder .content .no_msgs img{width:10rem; height:10rem; margin:8rem 13rem auto 13rem;}
.page_myRaiseOrder .content .no_msgs span{display:block; width:36rem; font-size:1.2rem; text-align:center; color:#969696; margin-top:2rem;}
.page_myRaiseOrder .no_more {width:7.92rem; height:2.256rem; background:url(../images/no_mre.png) 0 0 / 100% 100% no-repeat; margin:0 auto 1.5rem;}
/***加载缓冲开始***/
.page_myRaiseOrder .loading {width:2.5rem; height:2.5rem;}
@-webkit-keyframes btnRotate {
    0% {
        -webkit-transform: rotateZ(0deg);
    }
    100% {
        -webkit-transform: rotateZ(360deg);
    }
}
@-moz-keyframes btnRotate {
    0% {
        -moz-transform: rotateZ(0deg);
    }
    100% {
        -moz-transform: rotateZ(360deg);
    }
}
.page_myRaiseOrder .loading {
    /*-moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); */
    -webkit-animation: btnRotate 1.5s linear infinite;
    -moz-animation: btnRotate 1.5s linear infinite;
}
.page_myRaiseOrder center{ display:none;}
/***加载缓冲结束***/