
<button type="button" class="am-btn am-btn-primary" onclick="goto(0)">活动反馈</button>
<button type="button" class="am-btn am-btn-primary" onclick="goto(1)">BUG反馈</button>
<button type="button" class="am-btn am-btn-primary" onclick="goto(2)">异常反馈</button>

<form class="am-g">
    <sapn>反馈状态</sapn>
    <select name="is_answer" id="is_answer" style="width: 100px">
        <option value="">请选择</option>
        <option value="1" <?php if($search_answer == 1)echo "selected='selected'";?>>未回复</option>
        <option value="2" <?php if($search_answer == 2)echo "selected='selected'";?>>已回复</option>
    </select>
    <button class="am-btn am-btn-warning" type="submit">搜索</button>
</form>
{:W('Cate/table', array($datas, $lang, $operations, $pages, $batch))}

<!-- 回复反馈 -->
<div class="am-modal am-modal-prompt" tabindex="-1" id="answer">
    <div class="am-modal-dialog">
        <form name="resetBanner" class="am-form am-modal-bd" data-am-validator>
            <div class="am-modal-hd">回复反馈</div>
            <div class="am-modal-bd">

                <div class="am-g am-margin-top-sm">
                    <textarea id="answer_content" name="answer"></textarea>
                </div>
            </div>
        </form>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
        </div>
    </div>
</div>

<script>
$('.am-modal').appendTo('body');

function goto(type){
    window.location.href = '__ACTION__.html?type=' + type;
}

//单条回复
function answer(id){
    $('#answer').modal({
        relatedTarget: this,
        onConfirm: function () {
            var answer = $('#answer_content').val();
            $.ajax({
                'url': '__CONTROLLER__/answer.html',
                data: {'id': id , 'answer':answer},
                type: 'post',
                success: function (d) {
                    if (d.status == 1) {
                        alert(d.info);
                        window.location.reload();
                    } else {
                        alert(d.info);
                    }
                }
            });
        }
    })
}

//加入运营专题
function disposeAll()
{
    var question_ids = [];
    $('input:checked').each(function(){
        if(/^\d+$/.test(this.value))question_ids.push(this.value);
    });
    // alert(tips_ids);return;
    $.post('__CONTROLLER__/disposeAll.html', { 'question_ids':question_ids}, function(d){
        if(d.status == 1){
            alert(d.info);
            window.location.href = window.location.href;
        }else{
            alert(d.info);
        }
    }, 'json');
}
</script>
